* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Major Mono Display', monospace;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 1rem rgb(220, 220, 220);
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(159,0,0,1) 100%);
}

.sharp {
  text-shadow: none;
}

.text-white {
  color: rgb(220, 220, 220);
}

.text-red {
  color: red;
}

h1 {
  font-size: 15rem;
  margin: 2rem 0;
}

.container-text {
  text-align: center;
}

.text-standard {
  font-size: 2rem;
}

.button {
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
}


.button-primary {
  background: radial-gradient(circle, rgb(250, 250, 250) 0%, rgb(220, 220, 220) 100%);
  color: red;
}

.button-secondary {
  background-color: transparent;
  color: rgb(220, 220, 220);
}

.button-primary:hover {
  text-shadow: .1rem .1rem rgba(230, 230, 230, 0.3);
}

.button-secondary:hover {
  text-shadow: .1rem .1rem rgba(31, 31, 31, 0.3);
}

.text-box-standard {
  padding: 1rem;
}